@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container {
    height: 100vh;
    width: 40vw;
}

.map-container-listing-details {
    height: 25vh;
    width: 100vw;
}

.marker-btn {
    background: none;
    border: none;
    cursor: pointer;
}
  
.marker-btn img {
    width: 20px;
    height: 20px;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}